body {
  font-family: "Raleway";
  margin: 0;
}

a {
  text-decoration: none;
}

header {
  height: 980px;
  background: url("../img/main.jpg") no-repeat;
  background-size: contain;
}

.header-bar {
  display: flex;
}

.nav {
  padding: 50px;
  display: flex;
  align-items: center;
}